.about--options {
    a:nth-child(1) {
    background-image: url("assets/img/1efebb29-c911-4dab-b8fe-f25073955ab7.jpeg");
    }

    a:nth-child(2) {
    background-image: url("assets/img/277c8630-600c-45e5-bf63-d0b64c08addb.jpeg");
    }

    a:nth-child(3) {
    background-image: url("assets/img/WhatsApp\ Image\ 2024-04-22\ at\ 20.44.07.jpeg");
    }
}